@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Lora", serif;
  background-color: #f5f7fa;
  color: #0F172A;

}

shadow{
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

.marquee {
  width: 100%;
  overflow: hidden;
}

.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee 7s linear infinite;
}

.logo {
  height: 45px;
  width: auto;
  flex-shrink: 0;
  object-fit: contain;
  margin-right: 2rem;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

