@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Lora", serif;
  background-color: #f5f7fa;
  color: #0F172A;
  background: #8f8f8f;
background: linear-gradient(90deg,  #E0EAFC 100%, #CFDEF3 100%);

}

shadow{
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);
}

.marquee {
  width: 100%;
  overflow: hidden;
}

.marquee-track {
  display: flex;
  width: max-content;
  opacity: 0.8;
  margin-top: 1rem;
  animation: marquee 10s linear infinite;
}

.logo {
  height: 45px;
  width: auto;
  flex-shrink: 0;
  object-fit: contain;
  margin-right: 2.5rem;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  display: inline-grid;
  overflow: hidden;
}
.loader:before,
.loader:after {
  content: "Loading...";
  grid-area: 1/1;
  clip-path: inset(0 -200% 50%);
  text-shadow: -10ch 0 0;
  animation: l12 1s infinite;
}
.loader:after {
  clip-path: inset(50% -200% 0%);
  text-shadow: 10ch 0 0;
  --s:-1;
}
@keyframes l12 {50%,100%{transform: translateX(calc(var(--s,1)*100%));}}